<section class="sortContainer">
  <app-sort></app-sort>
</section>
<ng-template [ngIf]="loading" [ngIfElse]="itemsView">
  <app-loader></app-loader>
</ng-template>
<ng-template #itemsView>
  <section class="filterArragement">
    <section [@cardAnimation]="items.length">
      <section class="card" *ngFor="let item of items | paginate: config">
        <div class="row">
          <div class="col-md-5">
            <a
              [routerLink]="['item-details', item._id]"
              [queryParams]="{ date: date }"
            >
              <article
                *ngIf="item.images[0]"
                class="card__carouel "
                [style.backgroundImage]="'url(' + item.images[0] + ')'"
              >
                <ng-container *ngIf="!checkPropertyAvaiable(item)">
                  <article class="notAvaliableInThatDay">
                    <p>{{ "reserved_on_day" | translate }}</p>
                  </article>
                </ng-container>
              </article>
            </a>

            <article
              *ngIf="!item.images[0]"
              class="card__carouel "
              [style.backgroundImage]="
                'url(' + '/assets/image/placeholder.png' + ')'
              "
            ></article>
          </div>
          <div class="col-md-7">
            <article class="chaletItemBox">
              <article class="row">
                <article class="col-12 ">
                  <article class="chaletItemBox__content">
                    <article class="chaletItemBox__content__title">
                      <a
                        [routerLink]="['item-details', item._id]"
                        [queryParams]="{ date: date }"
                      >
                        <strong>{{ item.name }}</strong></a
                      >
                      <p class="location">
                        {{ "location" | translate }}:
                        <span *ngIf="item.city.name"
                          ><strong>{{ item.city.name }}</strong
                          >-
                        </span>
                        <span *ngIf="item.area.name">
                          <strong>{{ item.area.name }}</strong></span
                        >
                      </p>
                    </article>
                    <div class="activityRateContainer">
                      <app-rate [rate]="item.rate" [status]="'good'"></app-rate>
                    </div>
                  </article>
                  <article class="chaletItemBox__content__description">
                    <h6>{{ "description" | translate }}</h6>
                    <p>{{ item.description | truncate: [100, "..."] }}</p>
                  </article>
                </article>

                <article class=" col-12">
                  <article class="chaletItemBox__list">
                    <article class="chaletItemBox__list__items">
                      <ul *ngFor="let list of item.list">
                        <li>{{ list }}</li>
                      </ul>
                    </article>
                  </article>
                </article>
                <article class="col-12">
                  <article class="itemFooter">
                    <!-- <article class="reservationBox">
                              <small>Reserved 10 times in this week</small>
                            </article> -->
                    <article class="reservationPrice">
                      <h5 *ngIf="!item.is_offer">
                        {{ item.price }} {{ "sar" | translate }}
                      </h5>
                      <h5
                        *ngIf="item.is_offer"
                        style="text-decoration-line: line-through; color: red"
                      >
                        {{ item.price }} {{ "sar" | translate }}
                      </h5>
                      <h5 *ngIf="item.is_offer">
                        {{ item.offer_price }} {{ "sar" | translate }}
                      </h5>
                    </article>
                  </article>
                </article>
              </article>
            </article>
          </div>
        </div>
      </section>
    </section>
  </section>
  <ng-container *ngIf="!noActivity || items.length > 0">
    <pagination-controls
      (pageChange)="pageChange($event)"
      class="my-pagination"
    ></pagination-controls>
  </ng-container>
</ng-template>

<ng-template [ngIf]="(noActivity || items.length < 1) && !loading">
  <app-no-items [message]="'no_activities' | translate"></app-no-items>
</ng-template>
