<section class="aboutUsWrapper container">
  <section class="aboutUsWrapper__title">
    <h1>{{ "contact_us" | translate}}</h1>
  </section>

  <section class="aboutUsWrapper__body">
    <p class="aboutUsWrapper__body__text">{{ aboutUs.about_us }}</p>
  </section>

  <section class="aboutUsWrapper__footer">
    <h3 class="aboutUsWrapper__footer__title">
      {{ "support_number" | translate }}
    </h3>
    <p class="aboutUsWrapper__footer__text">{{ aboutUs.support_number }}</p>
  </section>
</section>
