@import '../../../assets/scss/variables';

:host {
  .checkoutWrapper {
    margin: 40px auto 100px auto;

    &__title {
      margin-bottom: 15px;
    }

    .inoviceContainer {
      background: #fff;
      border-radius: 10px;
      padding: 15px;
      margin: 10px auto;

      h6 {
        color: $main-color;
      }

      .invoiceWrapper {
        display: flex;

        &:not(:first-child) {
          margin-top: 5px 0;
        }

        &__info {}

        &__value {
          margin-left: auto;

          [dir=rtl] & {
            margin-left: initial;
            margin-right: auto;
          }

          p {
            font-weight: 700;
          }
        }
      }
    }

    .reservationDetails {
      background: #fff;
      border-radius: 10px;
      padding: 15px;

      h6 {
        margin-bottom: 10px;
        color: $main-color;
      }

      .propertyShow {
        display: flex;
        align-items: center;
        margin-top: 10px;

        &__imgContainer {
          img {
            width: auto;
            height: 80px;
          }
        }

        &__detail {
          margin-left: 10px;

          [dir=rtl] & {
            margin-right: 10px;
            margin-left: initial;
          }

          p {
            margin-bottom: 0px;

            &:nth-of-type(1) {
              font-weight: 700;
              color: $secondary-color;
            }
          }

        }

        &__date {
          margin-left: auto;

          [dir=rtl] & {
            margin-left: initial;
            margin-right: auto;
          }
        }
      }

    }

    .specialConditions {
      h6 {
        color: $main-color;
      }
    }

    .paymentMethodsWrapper {
      background: #fff;
      border-radius: 10px;
      padding: 15px;
      margin: 10px auto;

      &__head {
        &__title {
          color: $main-color;
        }
      }

      &__method {
        border: 1px solid #f2f2f2;
        border-radius: 10px;
        display: flex;
        margin: 10px auto;
        padding: 10px;

        .input {
          label {
            font-weight: 700;
            font-size: 14px;
          }
        }

        .logo {
          margin-left: auto;

          img {
            border-radius: 5px;
            height: 60px;
            width: auto;
          }

          [dir=rtl] & {
            margin-right: auto;
            margin-left: initial;
          }
        }
      }

      [type="radio"]:checked,
      [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;

        [dir=rtl] & {
          right: -9999px;
          left: 0;
        }
      }

      [type="radio"]:checked+label,
      [type="radio"]:not(:checked)+label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #000;

        [dir=rtl] & {
          padding-right: 28px;
          padding-left: 0;
        }

        p {
          color: #ccc;
          font-weight: normal !important;
        }
      }

      [type="radio"]:checked+label:before,
      [type="radio"]:not(:checked)+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;

        [dir=rtl] & {
          right: 0;
          left: initial;
        }
      }

      [type="radio"]:checked+label:after,
      [type="radio"]:not(:checked)+label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: $secondary-color;
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;

        [dir=rtl] & {
          right: 3px;
          left: initial;
        }
      }

      [type="radio"]:not(:checked)+label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
      }

      [type="radio"]:checked+label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }


    .reservation__container {
      display: flex;
      align-items: center;
      background: #fff;
      margin: 15px auto;
      border-radius: 10px;
      padding: 15px;

      &__submit {
        .btn {
          background: $submitBtn;
        }
      }

      &__finalPrice {
        margin-left: auto;
        text-align: center;

        [dir=rtl] & {
          margin-right: auto;
          margin-left: initial;
        }
      }
    }
  }

}


:ng-deep {
  .modal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          .confirmContainer {
            text-align: center;
            margin: 10px auto;
          }

          .inoviceContainer {
            &__bodyTitle {
              color: $main-color;
            }

            .invoiceWrapper {
              display: flex;
              justify-content: center;

              &__info {
                color: $main-color;
              }
              &__value {
                margin-left: auto;

                [dir=rtl] & {
                  margin-left: initial;
                  margin-right: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

