/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import './assets/scss/variables';


@font-face {
  font-family: swissra;
  src: url(/assets/fonts/ArbFONTS-Swissra-Light.otf) format("truetype"),
    url(/assets/fonts/ArbFONTS-Swissra-Light.otf) format("truetype");
}

@font-face {
  font-family: karla-font-family;
  src: url(/assets/fonts/Karla-Regular.ttf) format("truetype"),
    url(/assets/fonts/Karla-Bold.ttf) format("truetype");
}

@font-face {
  font-family: JF_Flat;
  src: url(/assets/fonts/JF_FLAT_REGULAR.otf) format("truetype"),
    url(/assets/fonts/JF_FLAT_REGULAR.otf) format("truetype");
}

:host {
  svg-icon {
    width: 55px !important;
  }
}


:host {

}

body {
  font-family: JF_Flat;
  height: 100%;
  width: 100%;
  background: #f6f6f6;

  [dir=rtl] & {
    text-align: right;
    font-family: JF_Flat;
  }
}


form {
  width: 80%;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px !important;
}

@media screen and (max-width: 696px) {
  .navbar {
    display: block;

    .navbar-brand {
      margin-left: 10px;
      color: #000;
    }

    .profile,
    .logout {
      .nav-item {
        .nav-link {
          padding: .5rem 0rem;
        }
      }
    }
  }
}

.card {
  border-radius: 10px;
  width: 100%;
  margin: 20px auto;
}


::ng-deep {
  .theme-green .bs-datepicker-head {
    background-color: $secondary-color;
  }

  .theme-green .bs-datepicker-body table td span.selected {
    background-color: $secondary-color;
  }

  .ngx-pagination {
    .current {
      background: $secondary-color !important;
    }
  }

  .loading-bar-spinner {
    color: $secondary-color !important;
  }

  [_nghost-blj-c1]>div[_ngcontent-blj-c1] {
    color: $secondary-color !important;
  }

  .loading-bar {
    color: $secondary-color !important;
  }

}


@import './assets/scss/global.scss';

.form-control {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-height: 36px;
  align-items: center;
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;

  &:focus {
    outline: none;
    border-color: none;
    box-shadow: none;
  }
}

p {
  margin: 0;
}


@media(max-width: 670px) {

  h6,
  h5,
  p {
    font-size: 13px;
  }
}

/* Add application styles & imports to this file! */
.ng-sidebar {
  background: red;
  width: 13rem;
  position: fixed;
}

.ng-select.ng-select-single .ng-select-container {
  height: 50px;
}

.ng-sidebar--right {
  color: red !important;
  background: antiquewhite;
  width: 12rem;

}


@media screen and (max-width: 991px) {
  .form-control {
    height: 40px;
  }
}
